<table>
  <tbody>
    <tr>
      <td><%= image_tag post_comment.user.get_profile_image,size: "20x20" %></td>
      <td><%= post_comment.user.name %></td>
      <td><%= post_comment.post_comment %></td>
      <td>
        <% if post_comment.user == current_user %>
        <%= link_to "削除", publics_post_favtime_post_comment_path(post_comment.post_favtime,post_comment), method: :delete, class: "btn btn-sm btn-danger p-0 p-1", style: "font-size: 8px;" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>